.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color: #D6D5DF;
    -fx-cell-size: 66px;
    -fx-header-size: 77px;

    }
.table-row-cell{
-fx-cell-size: 66px;
}
.table-view .column-header {
-fx-size: 77px;

}
.table-view .column-header .filler {
-fx-background-radius: 8px;
}
.menu-bar{
  -fx-background-color: #peru;
  -fx-border-color:  #f0cd90;
 -fx-border-width: 2px;
}
.menu-bar .label {
    -fx-font-size: 10 px;
    -fx-text-fill: #dedede;
}
.menu .label{
     -fx-text-fill: black;}
