.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color: #D6D5DF;
    -fx-cell-size: 66px;
    -fx-header-size: 77px;
 }

.table-row-cell{
-fx-cell-size: 66px;
}

.table-view .column-header {
-fx-size: 77px;

}
.table-view .column-header .filler {
-fx-background-radius: 8px;
}
.menu-item:focused {
     -fx-background-color: #312E43;
}
.menu:hover {
    -fx-background-color: #312E43;
}