.table-view .column-header-background {
    -fx-background-color: #D6D5DF;
    -fx-background-radius: 8px 8px 0px 0px;
    -fx-cell-size: 66px;
    -fx-header-size: 77px;
 }
.table-view .column-header {
    -fx-background-color: transparent;
 }

.table-row-cell: even {
    -fx-font-color: #D6D5DF;
    -fx-table-cell-border-color: #FFFFFF;
}
.table-row-cell: odd {
    -fx-background-color:  #E2E1E8;
    -fx-table-cell-border-color: #E2E1E8;
}
.table-view .column-header {
    -fx-size: 77px;
}
.table-view .column-header .label{
    -fx-alignment:CENTER
}

.menu-item:focused, .menu:focused, .menu:showing {
     -fx-background-color: #312E43;
}
.menu-item:hover, .menu:hover{
    -fx-background-color: #312E43;
}
.radio-button:selected .radio .dot {
    -fx-background-color:  #18418E;
    -fx-background-insets: 0;
}
.radio-button:selected .radio {
    -fx-border-color:  #18418E;
    -fx-border-radius: 20px;
}
.list-cell {
	-fx-alignment: center ;
	-fx-background-color:  #F2F3F7;
	-fx-font-family: "Calibri";
	-fx-font-size: 20px;
}
.list-cell: focused {
	-fx-background-color: #18418E;
	-fx-text-fill: #FFFFFF;
}
.list-cell: hover {
	-fx-background-color: #D6D5DF;
	-fx-text-fill: #000000;
}

.list-cell: cell.focused {
	-fx-background-color: #D6D5DF;
	-fx-text-fill: #000000;
}

.button: pressed {
    -fx-background-color: #18418E;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 8px;
}
.button: focused {
    -fx-background-color: #18418E;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 8px;
}
.button {
    -fx-background-color:  #FFFFFF;
    -fx-background-radius: 8px;
    -fx-text-fill: #000000;
    -fx-background: transparent;
}

