.table-view .column-header-background {
    -fx-background-color:  #D6D5DF;
    -fx-background-radius: 8px 8px 0px 0px;
    -fx-cell-size: 66px;
    -fx-header-size: 77px;
 }
.table-view .column-header {
    -fx-background-color: transparent;
 }
 .table-view .column-header .label{
     -fx-alignment:CENTER
 }

.table-row-cell: odd {
    -fx-background-color: #454255;
    -fx-table-cell-border-color: #454255;

}
.table-row-cell: even {
    -fx-background-color: #312E43;
    -fx-table-cell-border-color: #312E43;
    }

.table-view .column-header {
    -fx-size: 77px;
}
.table-row-cell .text {
    -fx-fill: #FFFFFF;
}
.text-area {
    text-area-background:  #F2F3F7 ;
}

.text-area .content {
    -fx-background-color: text-area-background ;
    -fx-font-alignment: center;
}
.text-area *.text {
    -fx-text-alignment: center;
}
.button {
    -fx-background-color:  #F8F8FB;
    -fx-background-radius: 8px;
    -fx-text-fill: #000000;
    -fx-background: transparent;
}
.button:pressed {
    -fx-background-color:  #18418E;
    -fx-background-radius: 8px;
    -fx-text-fill: #FFFFFF;
    -fx-background: transparent;
}
.button:hover {
    -fx-background-color:  #D6D5DF;
    -fx-background-radius: 8px;
    -fx-text-fill: #000000;
    -fx-background: transparent;
}
.button:focused {
    -fx-background-color:  #18418E;
    -fx-background-radius: 8px;
    -fx-text-fill: #FFFFFF;
    -fx-background: transparent;
}
.button:armed {
    -fx-background-color:  #18418E;
    -fx-background-radius: 8px;
    -fx-text-fill: #FFFFFF;
    -fx-background: transparent;
}
