.table-view .column-header-background {
    -fx-background-color:  #D6D5DF;
    -fx-background-radius: 8px 8px 0px 0px;
    -fx-cell-size: 66px;
    -fx-header-size: 77px;
 }
.table-view .column-header {
    -fx-background-color: transparent;
 }
 .table-view .column-header .label{
     -fx-alignment:CENTER
 }

.table-row-cell: odd {
    -fx-background-color: #454255;
    -fx-table-cell-border-color: #454255;

}
.table-row-cell: even {
    -fx-background-color: #312E43;
    -fx-table-cell-border-color: #312E43;
    }

.table-view .column-header {
    -fx-size: 77px;
}
.table-row-cell .text {
    -fx-fill: #FFFFFF;
}


